<div class="container margin-top">

    <h4><%= link_to "Paso 1", evaluator_step_one_path, class:"btn" %></h4>
    <h4><%= link_to "Paso 2", evaluator_step_two_path, class:"btn" %></h4>
    <h4><%= link_to "Paso 3", evaluator_step_three_path, class:"btn" %></h4>
    <h4><%= link_to "Paso 4", evaluator_step_four_path, class:"btn" %></h4>

</div>
