<div>
  <h1>Paso 2</h1>
  <h3>Creación de objetivos</h3>
  <p align="justify">
    Chachara
  </p>

  <div>
    <%= link_to "Corporativos", evaluated_step_two_goals_path(:g_type => 0) %>
    <%= link_to "Personales", evaluated_step_two_goals_path(:g_type => 1) %>
  </div>
</div>
