<body class="fondo">
  <div class="row mt">
    <div class="col-lg-offset-1 col-lg-10 colEvaluacion">
      <h1 class="titulo">Edita tu Objetivo</h1>

      <%= render 'form', goal: @goal %>

    </div>
  </div>
</body>
