<body class="fondo">
  <div class="row mt">
    <div class="col-lg-offset-1 col-lg-10 colEvaluacion">
      <h1 class="titulo">Evaluador</h1><br>

      <div>
        <%= @period.inspect %>
      </div>

    </div>
  </div>
</body>
