<body class="fondo">
  <div class="row mt">
    <div class="col-lg-offset-1 col-lg-10 colEvaluacion">
      <h1 class="titulo">Paso 1</h1><br>
      <h3>Aprueba a tus evaluados</h3>

      <div>
        <p align="justify">
        </p>
      </div>

      <div>
        <% @employees.each do |e| %>
          <%= e.name %>
          <%= link_to "Ver", user_path(e) %>
        <% end %>
      </div>
      <div class="col-sm-2">
        <%= link_to "Aceptar", evaluator_accept_path, class:"btn btn-default" %>
      </div>
    </div>
  </div>
</body>
