<div>
  <h1>Paso 2</h1>
  <h3>Objetivos de <%= @user.name %></h3>
  <p align="justify">
    Wea
  </p>

  <div>
    <% @goals.each do |g| %>
      <div>
        <%= g.perspective
        <%= link_to 
      </div>
    <% end %>
  </div>
</div>
