<body class="fondo">
  <div class="row mt">
    <div class="col-lg-offset-1 col-lg-10 colEvaluacion">
      <h1 class="titulo">Revisión de Objetivos</h1><br>

      <div>
        <p align="justify">
        </p>
      </div>

      <div>
        <% @employees.each do |e| %>
          <%= e.name %>
          <%= link_to "Revisar", evaluator_step_two_employee_path(e) %>
        <% end %>
      </div>
    </div>
  </div>
</body>
